@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

:root{
    /* Fontes */
    --main-font: 'Outfit', sans-serif;

    /* Cores */
    --background: #F3EFE0;
    --blue: #48A9A6;
    --black-background-hover: #272838;
    --nav-text02: #907F9F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body{
    background-color: var(--background);
}

nav{
    background-color: var(--nav-text02);
    margin: 30px auto;
    padding: 20px 40px 20px 20px;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    align-items: center;
}

button{
    width: 125px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

main{
    padding: 60px 140px;
}

span{
    color: var(--nav-text02);
}

nav > h1{
    text-transform: uppercase;
    font-size: 2em;
    color: white;
    margin-right: 400px;
}

nav ul{
    list-style: none;
    display: flex;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
    transition: 0.3s;
}

a:hover{
    color: var(--black-background-hover);
}

nav button{
    color: var(--black-background-hover);
    background-color: var(--background);
}

nav button:nth-child(3){
    margin-right: 10px;
    background-color: var(--black-background-hover);
    color: var(--nav-text02);
    transition: 0.3s;
}

nav button:nth-child(3):hover{
    margin-right: 10px;
    background-color: var(--background);
    color: var(--black-background-hover);
}

.main-content{
    width: 400px;
    text-align: justify;
}