@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

:root{
    /* Fontes */
    --main-font: 'Outfit', sans-serif;

    /* Cores */
    --background: #F3EFE0;
    --blue: #48A9A6;
    --dark-purple: #272838;
    --purple: #907F9F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body{
    background-color: var(--background);
}

nav{
    background-color: var(--purple);
    margin: 30px auto;
    padding: 10px 40px 10px 20px;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    align-items: center;
}

ul{
    list-style: none;
}

button{
    width: 125px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 0 140px;
}

span{
    color: var(--purple);
}

aside{
    background-color: white;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 5px 40px;
    margin: 80px auto 0 auto;
}

nav > h1{
    text-transform: uppercase;
    font-size: 2em;
    color: white;
    margin-right: 400px;
}

nav ul{
    display: flex;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
    transition: 0.3s;
}

a:hover{
    color: var(--dark-purple);
}

nav button{
    color: var(--background);
}

nav button:nth-child(3){
    margin-right: 10px;
    background-color: var(--dark-purple);
    transition: 0.3s;
}

nav button:nth-child(3):hover{
    background-color: var(--background);
    color: var(--dark-purple);
}

nav button:nth-child(4){
    background: transparent;
    border: 2px var(--background) solid;
    transition: 0.3s;
}

nav button:nth-child(4):hover{
    border: 2px var(--dark-purple) solid;
    color: var(--dark-purple);
}

div.main-content{
    width: 400px;
    text-align: justify;
    color: var(--dark-purple);
}

div.main-content h1{
    margin-bottom: 5px;
}

div.main-content h2{
    margin-bottom: 10px;
}

div.main-content button{
    margin-top: 60px;
}

div.main-content button:nth-child(4){
    background-color: var(--dark-purple);
    color: var(--background);
    margin-right: 10px;
    transition: 0.3s;
}

div.main-content button:nth-child(4):hover{
    background-color: var(--purple);
}

div.main-content button:nth-child(5){
    background: transparent;
    color: var(--purple);
    border: 2px var(--purple) solid;
    transition: 0.3s;
}

div.main-content button:nth-child(5):hover{
    border: 2px var(--dark-purple) solid;
    color: var(--dark-purple);
}

div.quality{
    background-color: var(--dark-purple);
    color: var(--background);
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin: 150px 300px 0 0;
}

div.quality ul{
    columns: 2;
    line-height: 40px;
}

div.quality li{
    display: flex;
    gap: 10px;
}

aside span{
    color: var(--dark-purple);
}